* {
	margin: 0;
	padding: 0;
}
#wrapper {
	position: absolute;
	width: 1024px;
	height: 768px;
	left: 0;
	top: 0;
  background-color: #fff;
}
#playButton.hidden {
  visibility: hidden;
}

#svg-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 1024px;
  height: 768px;
  overflow: hidden;
  perspective: 2000 !important;
  z-index: 1;
  visibility: hidden;
  &.active {
    visibility: visible;
  }
}

#svg-wrapper svg {
  width: 1024px;
  height: 768px;
}

#playButton {
  z-index: 1;
}

main {
	width: 100%;
	height: 100%;
  overflow: hidden;
  visibility: hidden;
  background: url('../images/background-01.svg');
}
main.active {
  visibility: visible;
}

aside {
  width: 250px;
  background: dodgerblue;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 150%;
  transform: translateX(-200px);
  transition: all 0.4s;
  z-index: 100;
  &:active {
    background: gold;
    transform: translateX(0px);
  }
}

.credits {
  position: absolute;
  left: 20px;
  top: 660px;
  z-index: 2;
  div {
    margin-bottom: 5px;
  }
}